<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.movie_service.mapper.HistoryMapper">
    <insert id="insertMovieSearchHistory">
        INSERT INTO movie_search_history(msh_ai_seq, msh_keyword, msh_search_time)
        VALUES(#{seq}, #{keyword}, now())
    </insert> 
    <insert id="insertMovieLookupHistory">
        INSERT INTO movie_lookup_history(mlh_ai_seq, mlh_mi_seq, mlh_lookup_time)
        VALUES
        (#{ai_seq}, #{mi_seq}, now())
    </insert> 

</mapper>

<!--
<select id="" resultType="">
</select> 
-->








