header {width: 1200px; position: relative; margin: 0 auto; }
#gnb {width: 200px; position: absolute; left: 0; top: 0;
    height: 100vh; background-color: #434343;
    border-left: 1px solid #000; border-right: 1px solid #000;
}
#gnb a {color: #fff;}
body {background-color: rgb(100, 100, 100);}
main {background-color: rgb(100,100,100);
    padding-top: 50px; width: 1200px; margin: 0 auto; padding-left: 210px;
    box-sizing: border-box;
}
